torch>=2.1.0
torchvision>=0.16.0
opencv-python>=4.8.0
tqdm>=4.66.0
PyYAML>=6.0.0
seaborn>=0.13.0
scipy>=1.11.0
thop>=0.1.1
Cython>=3.0.0

### Optional - ONNX format
# onnx>=1.14.0
# onnxruntime>=1.16.0

### Optional - Training
# tensorboard>=2.14.0
